.banner {
  color: white;
  display: flex; 
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
  text-shadow: 0 2px 2px #ccc;
  box-shadow: 0 2px 2px #ccc;
}

.banner p {
  font-size: 18px;
}

.banner a {
  text-decoration: none;
  cursor: pointer;
  padding: 15px;
  border-radius: 5px;
  background: #607fe6;
  color: white;
  padding: 15px 25px;
  border-radius: 4px;
  font-weight: bold; 
}

.banner a:hover {
  animation: cool_btn 0.5s infinite;
}

@keyframes cool_btn {
  0% {background: #607fe6;}
  50% {background: #9b2bc7;}
  0% {background: #607fe6;}
}