.content {
  display: flex;
  margin: 50px auto;
  width: 800px;
}

.card-product {
  height: 250px;
  width: 200px;
  margin: 30px;
  color: #555;
  background: white;
  text-shadow: 0 2px 2px #ccc;
  box-shadow: 0 2px 10px #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-product img {
  height: 60%;
  width: 100%;
  object-fit: cover;
  border-radius: 4px;  
}

.card-product-info {
  display: flex;
  flex-direction: column;
}

.card-product-info h2 {
  font-size: 16px;
  font-weight: bold;  
}

.card-product-info p {
  font-size: 12px;
  font-weight: lighter;
}

.card-product-info p, .card-product-info h2 {
  margin: 0 20px;
}
