
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:700');
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');
@import url("cards.css");
@import url("footer.css");
@import url("banner.css");

body {
  margin: 0;
  font-family: Open Sans;
}

h1, h2, h3, h4 {
  font-family: Poppins;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.text-center {
  text-align: center;
}

.content-title {
  color: #9F1563;
  text-shadow: 0 2px 2px #333;
}